@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

body {
  background-color: var(--background);
  background-image: url("./images/side-image-2x.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: 50% 100%;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  body {
    background-color: var(--background);
    background-image: url("./images/side-image-2x.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: 50% 100%;
    padding: 1rem;
  }
}

@media screen and (max-width: 360px) {
  body {
    background-image: none;
  }
}

.logo {
  width: 155px;
  height: 50px;

  margin-top: 2rem;
  margin-left: 2rem;
}

main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 600px;
  height: 600px;
  padding: 5rem;

  top: 194px;
  left: 74px;

  margin-left: 8rem;
  margin-top: 4rem;

  background-color: var(--form-background);
  border-radius: 1%;
}

@media screen and (max-width: 360px) {
  main {
    width: 340px;
    height: 500px;
    margin-left: 0;
    margin-top: 1rem;
    padding: 0;
  }

  main form {
    width: 200px;
    margin-top: 1rem;
    padding:10px;
  }
}


.main-thing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-thing h1 {
  font-family: 'Poppins';
  color: var(--text-title);
}

.main-sub {
  font-family: 'Roboto';
  color: var(--text-title);
  font-family: 16px;
  line-height: 24px;
}

main form {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';

  color: var(--text-base);

  width: 335px;
  margin-top: 4rem;
}


main form label {
  padding-bottom: 0.2rem;
}

main form input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--form-background);
  border-color: var(--primary-color);
  border-radius: 4px;
  width: 335px;
  height: 44px;

  color: var(--text-base);
  padding-left: 3rem;

  align-items: center;

  margin-bottom: 1rem;

}

@media screen and (max-width: 360px) {
  main form input {
    width: 320px;
  }
}

span img {
  width: 20px;
  height: 20px;
  left: 205px;
  top: 381px;

}

.email-img {
  position: relative;
  top: -48px;
  left: 16px;
}

.lock-img {
  position: relative;
  top: -48px;
  left: 16px;
}

.eye-img {
  position: relative;
  top: -48px;
  left: 280px;
}

@media screen and (max-width: 360px) {
  .eye-img {
    left: 265px;
  }
}
.checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 1.5rem;
}

.checkbox input {
  all: unset;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #868686;
  box-sizing: border-box;
  border-radius: 4px;
  color: none;
  background-color: none;
}

.checkbox input:checked {
  background-color: var(--primary-color);

}

.checkbox span {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.forgot {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--primary-color);
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 334px;
  height: 40px;


  background: #FFC632;
  border-radius: 4px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  letter-spacing: 0.015em;
  text-transform: uppercase;

  color: #473404;
}

button:hover {
  color: #FFC632;
  background-color: #473404;
}

@media screen and (max-width: 360px) {
  button {
    width: 320px;
  }
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--primary-color);
}